@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --font-milonga: "Milonga", serif;
  --font-manrope: "Manrope", serif;
  --font-montserrat: "Montserrat", serif;
  --font-poppins-700: "Poppins", serif;
}